body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50ox;
    color: rgb(164, 5, 5);
    
}
section{
    display: flex;
}

.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5%;
    
}

